
__pycache__/
*.py[cod]
*$py.class
*.db
# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/
eggs/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Test & Coverage Reports
.pytest_cache/
.tox/
htmlcov/
.coverage
.coverage.*

# Generated Output & Data
# LangExtract outputs are defaulted to test_output/
/test_output/

# Sphinx documentation build output
docs/_build/

# IDE / Editor specific
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store
/convertor/frontend/node_modules
convertor/frontend/node_modules

convertor/data

convertor/redis.zip
convertor/redis/